
<!DOCTYPE html>
<html>
  <head>

    <title>{{title}}</title>

    <link rel='stylesheet' href='/stylesheets/signup.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato" />
    <script src = "/javascripts/signup.js"></script>
</head>

    

  <body class = 'closer'>
    <!-- Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         <div class = "head"> <a class="navbar-brand " href="/"> CLOSER </a> </div>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            
           

            <li><a href="/logout/{{username}}">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

   

   <!-- Form -->   
   <div class="container">
    <div class="row">
        <div class = "col-md-3"></div>
        <div class="col-md-6">
            <div class="well signup-box signup-form">
                <form action="/userinfo/{{username}}" method = "post">
                    <legend class = "login-title">Thanks for joining Closer! We just need a little more info!<br /></legend>

                    <!-- First Name -->
                    <div class="form-group">
                        <label for="firstname">First Name</label>
                        <input value='' name = "firstname" id="user-first" placeholder="First Name" type="text" class="form-control" required />

                    </div>
                    <!-- Last Name -->
                    <div class="form-group">

                        <label for="lastname">Last Name</label>
                        <input value='' name = "lastname" id="user-last" placeholder="Last Name" type="text" class="form-control" required />


                    </div>
                    <!-- College -->
                    <div class="form-group">
                        <label for="college">College</label>
                        <input value='' name = "college" id="user-college" placeholder="University Name" type="text" class="form-control" required />

                    </div>

                    <!-- Class year -->
                    <div class="form-group ">
                      <label for="year">Year:</label>
                      <select class="form-control" id="sel1" name = "year" >
                        <option>Freshman</option>
                        <option>Sophomore</option>
                        <option>Junior</option>
                        <option>Senior</option>
                        <option>Other</option>
                      </select>
                    </div>

                    <!-- Class input -->
                    <div class="form-group form-group-options col-md-6">
                            <label for="classes">Current Courses (Course Numbers)</label>
                                <div class="input-group input-group-option col-xs-12">
                                    <input type="text" name="option" class="form-control" placeholder="Enter Class Name" required>
                                    <span class="input-group-addon input-group-addon-remove">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </span>
                            </div>
                     </div>


                    
                     <!-- Gender -->
                    <div class="form-group col-md-6">
                      <label for="gender">Gender:</label>
                      <select class="form-control" id="sel1" name = "gender" >
                        <option>Male</option>
                        <option>Female</option>  
                        <option>Prefer not to respond</option>           
                      </select>
                    </div>
                    <div class = "row"></div>

                       <div class="form-group">
                          <label for="bio"></label>
                        <div>
                          <p> Short Bio</p>
                          <textarea class="form-control" rows="5" id="bio" name = "bio"></textarea>
                      </div>
                    </div>

                    <!-- Submit Button -->
                    <div class="form-group text-center">
                        
                        <button class = "btn btn-default btn-cancel-action col-md-6" onclick="window.location.href='/logout/{{username}}'">Cancel</button>
                        <input type="submit" class="btn btn-default btn-login-submit col-md-6" value="Continue" /> 
                         
                    </div>
                    <div class = "row"></div>
                        
                    
                </form>
                

            </div>
        </div>
        <div class = "col-md-3"></div>
    </div>
</div>



    



  </body>
</html>

