.indiv-group{
	border-radius: 20px;
	border: 2px solid #fff;
	background-color: #cc3300;
	border-color: #ffffff;
	font-family: Lato;
	opacity: 0.75;
	font-size: 20px;
	padding: 6px;
	color: black;
	margin-top: 10px;
	text-align: center;
	font-weight: bold;
}

.group-list{
	margin-top: 100px;
}

.closer{
	font-family: Lato;
}

.badge{

	margin-top: -15px;
	background-color: red !important;
}

body{
	background: url("/images/home.jpg") no-repeat;
	background-size: 100%;
	background: url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQfk8AdDuA_FqM1B03ZhFERwFfN2-ls4F6zBkWqoXlP4jCR7Mxi);
	background-size: cover;
}

.btn-default{
	min-width: 100%;
	font-size: 18px;
}


.btn.groupName{
	border-radius: 0;
}



img {
	margin: auto;
	max-height: 150px;
}

.glyphicon-log-out{
	color: gray;
	margin-right: 5px;
}

.glyphicon-log-out:hover{
	color: white;
	
}