.indiv-group{
	border-radius: 20px;
	border: 2px solid #fff;
	background-color: #cc3300;
	border-color: #ffffff;
	font-family: Lato;
	opacity: 0.75;
	font-size: 20px;
	padding: 6px;
	color: black;
	margin-top: 10px;
	text-align: center;
	font-weight: bold;
}

.group-list{
	margin-top: 100px;
}

body{
	background: url("/images/home.jpg") no-repeat;
	background-size: 100%;
}

.btn-default{
	min-width: 100%;
	font-size: 18px;
}

img{
	margin: auto;
	max-height: 150px;
	margin-bottom: 10px;
}