body{
	background-color: grey;
}
.navbar-brand{
	font-family: Lato;	
}

.navbar-header{
	width: 100px;
}

.navbar-right{
	font-family: Lato;
}

.title{
  padding: 0px 15px 0px 15px;
  text-align: center;
  font-family: Lato;
  font-size: 75px;
  color: white;
  font-weight: 50%;
  opacity: 0;
}

.subtitle{

	text-align: center;
	font-family: Lato;
	padding-bottom: 10vh;
	color: white;
	opacity: 0;
}

.head{
	width:200px;
}

.start{
	text-align: center;
	/*padding-top: 100px;*/
	padding-top: 10vh;
}

/*Closer Logo styling*/

.title-logo{
	/*data-stellar-background-ratio="0.5";*/
	background: url("/images/home.jpg") no-repeat;
	width: 100vw;
	/*background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1)), url("/images/home.jpg");*/
	background-size: 100%;
	height: 100vh;
	background-attachment: fixed;
}

.closer-logo{
	width: 120px;
	padding: 10vh 0px 0px 0px;
	margin: 20px auto 10px auto;
	position: relative;
}

.logo-list-container{
	padding: 0;
}

.logo-list-container li{
	display: inline-block;
}

.letter-C{
	z-index: 3;
}

.letter-E{
	z-index: 1;
}

/*Parallax elements styling*/

.home-strip{
	background-color: white;
}

.home-strip p{
	font-size: 20px;
}

.ele-num-1{
	/*data-stellar-background-ratio="0.5";*/
	/*background: url("/images/MIT-Dome.jpg") no-repeat;*/
	background: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,1)), url("/images/MIT-Dome.jpg") no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	/*background-position: relative;*/
}

.ele-num-2{
	/*background: url("/images/study-group.jpg") no-repeat;*/
	/*data-stellar-background-ratio="0.5";*/
	background: linear-gradient(to left, rgba(255,255,255,1), rgba(255,255,255,0)), url("/images/study-group.jpg") no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

/*Other styling*/

.btn.log-in-button{
	border-radius: 0px;
	background: gray;
	font-family: Lato;
	opacity: 0.75;
	min-height: 50px;
	font-size: 25px;
	display: inline-block;
  	padding: 8px;
  	color: black;
  	border: 1px solid #fff;
  	text-align: center;
  	outline: none;
  	text-decoration: none;
  	display: inline;
}

.btn.sign-up-button{
	border-radius: 0px;
	background-color: transparent;
	background-color: gray;
	opacity: 0.75;
	font-family: Lato;
	color: white;
	opacity: 100%;
	min-height: 50px;
	color: black;
  	border: 1px solid #fff;
	font-size: 25px;
	display: inline;
}

.btn.btn-cancel-action{
	border-radius: 0px;
	font-family: Lato;
}

.btn.btn-login-submit{
	border-radius: 0px;
	font-family: Lato;
}


.sign-up-form{
	display: none;
	opacity: 0.85;
	position: absolute;
	margin-right: 10vw;
	min-width: 300px;
	right: 0;
}

.log-in-form{
	display: none;
	opacity:0.85;
	position: absolute;
	margin-left: 5vw;
	min-width: 300px;
}

.login-title{
	text-align: center;
	font-family: Lato;
}

.signup-title{
	text-align: center;
	font-family: Lato;
}
.account{
	text-align: center;
}

.no-account{
	text-align: center;
}