.closer{

	font-family: Lato;
	
	background: url("/images/footer_lodyas.png") fixed no-repeat;
	background: none;

	background: url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQfk8AdDuA_FqM1B03ZhFERwFfN2-ls4F6zBkWqoXlP4jCR7Mxi);
	background: none;
	background-size: cover;
	background-size: cover;
	color: black;
	font-variant: small-caps;

}

.col-md-1{
	height: 100%
}

.btn.previous{

	margin-top: 100px;
	height: 200px;
	position: fixed;
	background: black;
	color: white;
}

.btn.next2{

	margin-top: 100px;
	margin-left: 35px;
	height: 200px;
	position: fixed;
	background: black ;
	color: white;
}

.btn.previous:hover{

	color: black;
	background-color: white;
}

.btn.next2:hover{

	color: black;
	background-color: white;
}

.userlist{

	margin-top: 125px;
}

h1{ 

	margin-top: 100px;
}
li{
	list-style: none;
}

.form-body{

	display: none;


}

ul{

	margin-left: 25px;
	margin-bottom: 30px;
}

.buttons{

	margin-bottom: 30px;
	margin-top: 85px;

}

.btn.full-view{

	background-color: #2980b9;
	color: white;
	padding: 10px;
	margin-top: 10px;
	-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
	-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
	border-radius: 0;
}

.btn.full-view:hover{

	background:  #2c3e50;
	color: white;
}

.last-button{

	margin-right: 35px;
}

.btn.old-group{

	background-color: none;
	color: black;
	padding-top padding-bottom: 0px;
	padding-left padding-right: 10px;
	opacity: 0.85;
	border-radius: 0;
	-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
	-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);

}

.btn.old-group:hover{

	background-color: green;
	color: white;
	opacity: 0.85;

}

.btn.new-group{

	background-color: none;
	color: black;
	padding-top padding-bottom: 0px;
	padding-left padding-right: 10px;
	opacity: 0.85;
	border-radius: 0;
	-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
	-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);

}

.btn.new-group:hover{

	background-color: green;
	color: white;
	opacity: 0.85;

}

.btn.reject{

	background-color: none;
	color: black;
	padding-top padding-bottom: 0px;
	padding-left padding-right: 10px;
	opacity: 0.85;
	border-radius: 0;
	-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
	-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);

}

.btn.reject:hover{

	background-color: red;
	color: white;
	opacity: 0.85;

}


.btn.prev{

	
	background-color: rgba(0,0,0,0);
	border-radius: 0;
	color: black;
	padding: 10px;
	margin-top: 15px;


}

.btn.next{

	background-color: rgba(0,0,0,0);
	border-radius: 0;
	color: black;
	padding: 10px;
	margin-top: 15px;
}

.navbar-inverse{
	background: #2c3e50;
}

.user-profile{
	margin-top: 85px;
	
	border-bottom: 1px solid black;
	border-radius: 2px;
	background-color: none;
	margin-bottom: -85px;
	

	padding: 35px;
	margin-left: 25px;
	margin-right: 25px;


};

.inner-profile{

	border: 2px solid black;
}

.btngroup{
	margin-right: -50px;

	margin-bottom: 25px;
	margin-top: 90px;


};

.matchlist{
	margin-top: 75px;
}

.userinfo{

	margin-top: 25px;
	font-size: 25px;
	margin-bottom: 30px;
}

.userinfo2{
	font-size: 20px;

}

.btn-text{
	opacity: 1.0;
}

.profpic{

	height:175px;
	width: 120px;
	border-radius: 10px;
}

.glyphicon-plus-sign{
	margin-right: 5px;
	margin-top: 3px;
}



.glyphicon-remove-sign{
	margin-right: 5px;
	margin-top: 3px;
}



.glyphicon-log-out{
	color: gray;
	margin-right: 5px;
}

.glyphicon-log-out:hover{
	color: white;
	
}

