.title{

	margin-top: 75px;
	text-align: center;

}

.navbar-inverse{
	background-color: black;
}

body{

	background: url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQfk8AdDuA_FqM1B03ZhFERwFfN2-ls4F6zBkWqoXlP4jCR7Mxi);
	background-size: cover;
	font-family: Lato;
}

.glyphicon-log-out{
	color: gray;
	margin-right: 5px;
}

.glyphicon-log-out:hover{
	color: white;
	
}