.row{

	margin-top: 75 px;
	padding-top: 75px;
	
}
.legend{
	padding-bottom: 10px;
}

.login-title{
	text-align: center;
	font-size: 20px;
}

.signup-form{
	
	font-family: Lato;
	opacity: 0.85;
}

.btn.btn-cancel-action{
	border-radius: 0;
}
.btn.btn-login-submit{
	border-radius: 0;
}

.closer{

	background: url("/images/home.jpg") fixed no-repeat;
	background-size: cover;

}




