.closer{
	font-family: Lato;
}

.message{
	display: none;
}


.row{

	margin-top: 75 px;
	padding-top: 75px;
	
}
.legend{
	padding-bottom: 10px;
}

.login-title{
	text-align: center;
	font-size: 20px;
	color: black;
}

.badge{

	margin-top: -15px;
	background-color: red !important;
}

.signup-form{
	
	font-family: Lato;
	opacity: 0.85;
	background-color:rgba(0,0,0,0) ;
	border: none !important;
	border-left: 2px solid black !important;
	border-right: 2px solid black !important;
	background: gray;
}

.btn.btn-cancel-action{
	border-radius: 0;
}
.btn.btn-login-submit{
	border-radius: 0;
}

.closer{

	background: url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQfk8AdDuA_FqM1B03ZhFERwFfN2-ls4F6zBkWqoXlP4jCR7Mxi);
	background-size: cover;
	background: none;
	color: black;

}

.navbar-inverse{
	background-color: #2c3e50;
}

img{

	margin-left: -20px;
	margin-right: 20px;
	margin-top: 15px;
	border-radius: 5px;
	height: 250px;
	width: 250px;


}

.header{
	font-size: 25px;
	text-align: center;
	padding-left: 0px;
	
	font-family: Lato;
	font-variant: small-caps;
	margin-top: 0px;

}

.header2{
	font-size: 25px;
	text-align: center;
	
	font-family: Lato;
	font-variant: small-caps;
	margin-top: 25px;

}



.header3{
	font-size: 20px;
	text-align: center;
	
	font-family: Lato;
	font-variant: small-caps;

}

.meta{
	text-align: center;
	font-size: 20px;
	font-family: Lato;
}


.content{

	border: 1px solid black;
	width: 320px;
	margin-left: -50px;
	margin-top: 30px;
	padding: 15px;
	border-radius: 10px;
	background: black;
	opacity: 0.55;
	color: white;
	
}

.content2{

	width: 300px;
	margin-left: -50px;
	margin-top: 0px;
	padding: 5px;

}

.ui-card{
	margin-top: 10px;
	width: 320 !important;

}

.content3{

	margin-top: 5px;

}

.content4{

	margin-top: 30px;
}

.head{

	border-bottom: 1px solid black;
}

.head2{
	margin-right: 50px;
	border-bottom: 1px solid black;
}

.glyphicon-user{
	margin-right: 5px;

}

.glyphicon-group{
	margin-right: 5px;
}

.card{

}

.glyphicon-log-out{
	color: gray;
	margin-right: 5px;
}

.glyphicon-log-out:hover{
	color: white;
	
}

.logout:hover{

	color: white;
}