<!DOCTYPE html>
<html>
  <head>

    <title>{{title}}</title>

    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
    <script src = "/javascripts/login.js"></script>
    <script src = "/javascripts/fbBasic.js"></script>
  </head>


  <body class = 'closer'>
    
  

     <div class="container">

      <div class="start">
        <h1 class = "title">CLOSER</h1>
        <div class = "row"></div>
        <h4 class = "subtitle"> SEEK. STUDY. SUCCEED. </h4>
      </div>

      <div class = "row"></div>
      <div class = "col-md-2"></div>
      <div class = "col-md-4">
        <button type = "button" class = "btn btn-default btn-block log-in-button"> LOGIN </button>
      </div>
      <div class = "col-md-4 ">
        <button type = "button" class = "btn btn-default btn-block sign-up-button"> SIGN UP </button>
      </div>

      <div class = "row"></div>

      
   <div class="container">
    <div class="row">
        <div class = "col-md-3"></div>
        <div class= "col-md-6">
            <div class="well login-box log-in-form">
                <form action="/login" method = "post">
                    <legend class = "login-title">LOGIN</legend>
                    <div class="form-group">
                        <label for="username-email">Username</label>
                        <input value='' name = "username" id="username-email" placeholder="Username" type="text" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input id="password" name = "password" value='' placeholder="Password" type="password" class="form-control" required/>
                    </div>
                    <div class="fb-btn"><!-- fb button -->
                      <p><fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button></p>
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-default btn-cancel-action col-md-6">Cancel</button>
                        <input type="submit" class="btn btn-default btn-login-submit col-md-6" value="Login" />
                        <div class = "row"></div>
                    </div>
                    <a href = "#" class = "no-account"> <p> Don't have an account?</p> </a>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
      <div class = "col-md-3"></div>
        <div class="col-md-6">
            <div class="well login-box sign-up-form">
                <form action="/signup" method = "post">
                    <legend class = "signup-title">SIGN UP</legend>
                    <div class="form-group">
                        <label for="username-email"> Username</label>
                        <input name = "username" value='' id="username-email" placeholder="Username" type="text" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input name = "email" id="email" value='' placeholder="Email" type="email" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input name = "password" id="password" value='' placeholder="Password" type="password" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label for="password">Confirm Password</label>
                        <input name = "passwordcheck" id="password" value='' placeholder="Password Again" type="password" min-length = "8" class="form-control" required />
                    </div>
                    <div class="fb-btn"><!-- fb button -->
                      <p><fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button></p>
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-default btn-cancel-action col-md-6">Cancel</button>
                        <input type="submit" class="btn btn-default btn-login-submit col-md-6" value="Sign Up" />
                         <div class = "row"></div>
                    </div>
                   
                  <div class = "account"> <a href = "#" class = "yes-account"> <p> Already have an account? </p> </a> </div>

                </form>

            </div>
        </div>
    </div>
</div>
    </div>

    


  </body>
</html>
